#s1{
    width: 50px;
    height: 100px;
    background-color: red;
} 


#div1{
    width: 10%;
    height: 10%;
    display: inline;
    background-color: blue;
    margin: 100px;

}
#div2{
    width: 10%;
    height: 10%;
    display: inline;
    background-color: red;
    margin: 100px;

}
form{
    height: 590px;
    
}
.format{
    height: 590px;
    background-color: red;
    
}